<mat-toolbar color="primary">Add Holiday</mat-toolbar>

<div class="row">
    <div class="col-sm-6">
        <mat-form-field>
            <mat-label>Non-working days:</mat-label>
            <mat-select  [(ngModel)]="result.nonWorkingDays" multiple>
              <mat-option *ngFor="let day of days" [value]="day.id">{{day.name}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="col-sm-6">
        <mat-form-field >
            <mat-label>Holiday</mat-label>
            <input matInput  [(ngModel)]="result.selectedDate" [matDatepicker]="holidayDatePicker">
            <mat-datepicker-toggle matSuffix [for]="holidayDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #holidayDatePicker></mat-datepicker>
        </mat-form-field>
    </div>    
  </div>
  <div class="row" >
        <mat-dialog-actions>
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button [mat-dialog-close]="result">OK</button>
        </mat-dialog-actions>
  </div>

