.footer{
    flex-shrink: 0;
    flex-grow: 0;
    background: #eee;
    padding: 3px 15px;
    text-align: right;
  }

.task-radio-button {
    margin: 5px;
  }

  .life-cycle-section{
    text-align: center;
  }

  .output-container{
    position: absolute;;
    overflow-y: scroll;
    height:60%;
    width:100%;
  }
 